.container {
    background: #f2e9e4;
    border-radius: 45px;
    border: 2px solid #f2e9e4;
    outline: 2px dashed black;
    outline-offset: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 70px;
}

.large-container {
    margin-top: 70px;
    padding: 40px 70px;
    background-color: #9a8c98;
    border-radius: 25px;
}

h1 {
    font-family: "Futura Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
}