<div class="screen">
    <div class="container">
        <form method="post">
            <img id="user" src="../../assets/login/user.png">
            <div id="box">
                <p class="login-title">Login to your account</p>
                <div class="input-wrap">
                    <label for="email">Email</label>
                    <input type="email" placeholder="E-mail" name="email" />
                </div>
                <div class="input-wrap">
                    <label for="password">Password</label>
                    <input type="password" placeholder="Password" name="password" />
                </div>
            </div>
            <div id="btn">
                <button id="submit" type="submit">Login</button>
            </div>

        </form>
    </div>
</div>