<div class="screen">
    <div class="container">
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-body">
                <img src="../../assets/board/bicycle.gif" width="518" height="518"
                    alt="Bicycle Student GIF - Bicycle Student Cycling GIFs" style="max-width: 518px;">
                <p>Loading . . .</p>
            </div>
        </ng-template>
        <form method="post" action="predict" (ngSubmit)="onSubmit(content)">
            <div id="box">
                <h1>Dataset to train</h1>
                <select [ngModel]="selectedTable" (ngModelChange)="onChange($event)" name="table">
                    <option *ngFor="let table of tables" [value]="table">{{ table }}</option>
                </select>
                <h3>Select your features</h3>
                <div class="columns-container">
                    <div *ngFor="let column of columns; let i = index">
                        <label>
                            <input type="checkbox" name="column{{i}}" [value]="column" [(ngModel)]="selectedColumns[i]">
                            {{ column }}
                        </label>
                    </div>
                </div>
            </div>
            <div id="btn">
                <button id="submit" type="submit">Submit</button>
            </div>

        </form>
    </div>
</div>
<div class="screen">
    <div class="large-container">
        <h1>Sample of the predicted data</h1>
        <div class="table">
            <table mat-table [dataSource]="data">
                <!-- Column definitions -->
                <ng-container *ngFor="let column of columns" [matColumnDef]="column">
                    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
                    <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
                </ng-container>

                <!-- Table rows -->
                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
        </div>
    </div>
</div>